<%= form_for(@restaurant) do |f| %>
  <% if @restaurant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @restaurant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, "店名" %><br>
    <%= f.text_field :name, class: 'form-controll' %>
  </div>
  <div class="form-group">
    <%= f.label :tel, "電話番号" %><br>
    <%= f.text_field :tel, class: 'form-controll' %>
  </div>
  <div class="form-group">
    <%= f.label :address, "住所" %><br>
    <%= f.text_field :address, class: 'form-controll' %>
  </div>
  <div class="form-group">
    <%= f.label :url, "ホームページ" %><br>
    <%= f.text_field :url, class: 'form-controll' %>
  </div>
  <%= f.submit %>
<% end %>
