<%= form_for([@restaurant, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div class="alert alert-danger">
      <p><b><%= @review.errors.count %>件のエラーがあります</b></p>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :rate, '点数' %><br>
    <%= f.select :rate, { "★☆☆☆☆" => 1, "★★☆☆☆" => 2,"★★★☆☆" => 3, "★★★★☆" => 4, "★★★★★" => 5 }, { prompt: true }, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :title, '口コミのタイトル' %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :body, '口コミの内容' %><br>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <%= f.submit %>
<% end %>
